/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Gothic A1", sans-serif !important;
  background: #ffffff;
  color: #777777;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

a {
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
}

button {
  cursor: pointer;
}

.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

img {
  display: block;
}

*:before,
*:after,
*:hover:before,
*:hover:after,
a,
a:hover,
button,
button:hover,
svg,
svg:hover,
span,
span:hover,
li,
li:hover,
p,
p:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.1em;
  color: #222222;
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .h1 {
    font-size: 38px;
  }
}
@media (max-width: 425px) {
  .h1 {
    font-size: 28px;
  }
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
  color: #222222;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .title {
    font-size: 40px;
    line-height: 1.4em;
  }
}
@media (max-width: 767px) {
  .title {
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 28px;
  }
}

.h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #222222;
}

.h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #222222;
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #1080d0;
  margin-bottom: 51px;
}
@media (max-width: 1024px) {
  .subtitle {
    margin-bottom: 40px;
  }
}

.btn {
  width: 240px;
  height: 60px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background: #1080d0;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.btn:hover {
  background: #222222;
}
@media (max-width: 425px) {
  .btn {
    width: 100%;
  }
}

.background {
  background: #e6f2fe;
}

.header {
  padding: 20px;
  margin-bottom: 71px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  position: relative;
}
.header__logo::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -43px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 44px;
  background: #1080d0;
  opacity: 0.3;
}
.header__menu {
  margin: 0 auto 0 83px;
  margin-top: -6px;
}
.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu li {
  padding-right: 30px;
}
.header__menu a {
  font-size: 15px;
  line-height: 19px;
  color: #222222;
}
.header__menu a:hover {
  color: #1080d0;
}
.header__btn {
  font-size: 15px;
  line-height: 19px;
  width: 150px;
  height: 44px;
  background: #ffffff;
  color: #1080d0;
}
.header__btn:hover {
  color: #ffffff;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 552px;
}
.welcome__wrapper {
  text-align: center;
  max-width: 760px;
}
.welcome__subtitle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.welcome h1 {
  margin-bottom: 18px;
}
.welcome__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #222222;
  margin-bottom: 54px;
}
.welcome .btn {
  margin: 0 auto;
}
.welcome__img {
  width: 560px;
  height: 560px;
  position: absolute;
  bottom: -138px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  margin-top: 224px;
  margin-bottom: 118px;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__left-part {
  max-width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__left-part svg {
  margin-bottom: 27px;
}
.about__left-part h4 {
  margin-bottom: 20px;
}
.about__card {
  max-width: 260px;
  margin-bottom: 40px;
}
.about__right-part {
  padding-left: 20px;
  margin-top: 71px;
  position: relative;
}
.about__right-part .img-2 {
  position: absolute;
  bottom: 53px;
  right: 100px;
  width: 360px;
  height: 269px;
}

.mission {
  margin-bottom: 141px;
}
.mission__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mission__img {
  width: 50%;
  padding-right: 20px;
}
.mission__content {
  width: 50%;
  padding-left: 20px;
}
.mission__text {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  color: #222222;
  margin-bottom: 53px;
}
.mission__link {
  color: #1080d0;
  text-decoration: underline;
}
.mission__link:hover {
  text-decoration: none;
}

.whyus {
  margin-bottom: 137px;
}
.whyus__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.whyus__subtitle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.whyus .title {
  text-align: center;
}
.whyus__left-part {
  width: 50%;
  padding-right: 20px;
}
.whyus__left-part .h4 {
  margin-bottom: 40px;
}
.whyus__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.whyus__left-card {
  position: relative;
}
.whyus__text {
  padding-left: 56px;
}
.whyus__right-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  width: 50%;
  padding-left: 20px;
}
.whyus__img {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #E6F2FE;
}
.whyus__img img {
  width: 11px;
  height: 14px;
}
.whyus__right-card {
  height: 380px;
  border: 1px solid #D4E5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.whyus__right-card .svg-box {
  margin-bottom: 35px;
}

.help__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 137px 20px 291px;
  background: #1080d0;
  text-align: center;
}
.help__wrapper h3 {
  color: #ffffff;
  margin-bottom: 20px;
}
.help__wrapper p {
  color: #ffffff;
  margin-bottom: 45px;
}
.help__btn {
  color: #222222;
  background: #ffffff;
  margin: 0 auto;
}
.help__btn:hover {
  color: #ffffff;
}
.help .img-container {
  position: absolute;
  bottom: -235px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 480px;
  height: 480px;
}

.services {
  margin-top: -135px;
  padding: 509px 0 140px;
  margin-bottom: 140px;
  background: #E6F2FE;
}
.services__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.services__text {
  margin-bottom: 44px;
}
.services__card {
  background: #ffffff;
  padding: 60px 40px 80px;
  height: 100%;
}
.services__icon {
  width: 54px;
  height: 54px;
  margin-bottom: 46px;
}
.services__img {
  height: 100%;
}
.services__pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prices {
  margin-bottom: 129px;
}
.prices__wrapper {
  text-align: center;
}
.prices__wrapper .title {
  margin-bottom: 50px;
}
.prices__subtitle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.prices__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}
.prices__content .title {
  margin-bottom: 0;
}
.prices__card {
  padding: 60px 40px 58px;
  border: 1px solid #D4E5F5;
}
.prices__card-left {
  padding: 116px 40px;
}
.prices .h3 {
  margin-bottom: 24px;
}
.prices span {
  font-size: 17px;
}
.prices span .title {
  line-height: 25px;
}
.prices__text {
  margin-bottom: 36px;
}
.prices__value-1 {
  color: #1080d0;
  line-height: 45px;
}
.prices__value-2 {
  color: #1080d0;
  margin-bottom: 31px;
}
.prices ul {
  margin-bottom: 42px;
  display: inline-block;
  text-align: left;
}
.prices ul li:not(:last-child) {
  margin-bottom: 8px;
}
.prices ul li svg {
  margin-right: 5px;
}
.prices__link {
  color: #1080d0;
  text-decoration-line: underline;
}
.prices__link:hover {
  color: #222222;
}
.prices__headline {
  color: #1080d0;
  display: inline-block;
  padding: 6px 11px;
  background: #e6f2fe;
  margin-bottom: 28px;
  line-height: 22px;
}
.prices__btn {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 39px;
}

.results {
  margin-bottom: 144px;
  padding: 140px 0 188px;
  background: #1080d0;
  color: #ffffff;
}
.results .title {
  color: #ffffff;
}
.results__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  color: #ffffff;
}
.results__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.results__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.results__item-left {
  padding-right: 100px;
}
.results__item-right {
  padding-top: 37px;
}
.results__item .h4 {
  margin-bottom: 36px;
  color: #ffffff;
}
.results__item li {
  padding-left: 17px;
  position: relative;
}
.results__item svg {
  position: absolute;
  top: 6px;
  left: 0;
}
.results__paragraph {
  margin-bottom: 22px;
}
.results__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.results__card:not(:last-child) {
  margin-bottom: 64px;
}
.results__line {
  position: relative;
  height: 5px;
  background: #ffffff;
}
.results__line p {
  position: absolute;
  bottom: -12px;
  left: calc(100% + 10px);
  margin: 0;
}
.results__right-text {
  margin-top: 15px;
}
.results .img-container {
  position: absolute;
  bottom: -318px;
  left: 43%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 480px;
  height: 480px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 154px;
}
.team__title {
  margin-bottom: 50px;
}
.team__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.team .img-container {
  width: 148px;
  height: 148px;
  margin-bottom: 30px;
}
.team .img-container img {
  border-radius: 50%;
}
.team__h4 {
  margin-bottom: 8px;
}
.team__paragraph {
  color: #1080d0;
  margin-bottom: 30px;
}
.team__text {
  margin-bottom: 30px;
  max-width: 261px;
  width: 100%;
}
.team__btn {
  margin-bottom: 30px;
  width: 150px;
  height: 44px;
  font-size: 15px;
}
.team__social a:not(:last-child) {
  margin-right: 25px;
}
.team__social svg {
  fill: #87bfe7;
}
.team__social svg:hover {
  fill: #1080d0;
}

@media (max-width: 1073px) {
  .header__menu li {
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  .header__wrapper {
    position: relative;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__menu {
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-top: -4px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #1080d0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #1080d0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
  }
  .header__btn {
    margin: 0 40px 0 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 767px) {
  .header {
    margin-bottom: 40px;
  }
}
@media (max-width: 425px) {
  .header__logo::after {
    display: none;
  }
  .header__btn {
    margin: 0 20px;
  }
}

@media (max-width: 1024px) {
  .welcome {
    padding-bottom: 300px;
  }
  .welcome__wrapper {
    max-width: 560px;
  }
  .welcome__img {
    width: 360px;
    height: 360px;
    bottom: -100px;
  }
}
@media (max-width: 425px) {
  .welcome {
    padding-bottom: 240px;
  }
  .welcome__text {
    font-size: 20px;
  }
  .welcome__img {
    width: 260px;
    height: 260px;
    bottom: -75px;
  }
}

@media (min-width: 1025px) {
  .about .title {
    margin-bottom: 40px;
  }
}
@media (max-width: 1083px) {
  .about__right-part {
    margin-top: 159px;
  }
  .about__right-part .img-2 {
    display: none;
  }
}
@media (max-width: 915px) {
  .about__right-part {
    display: none;
  }
  .about__left-part {
    max-width: inherit;
  }
  .about__card {
    max-width: inherit;
    width: 47%;
  }
}
@media (max-width: 1024px) {
  .about {
    margin-top: 180px;
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .about {
    margin-top: 140px;
    margin-bottom: 40px;
  }
  .about .title {
    text-align: center;
  }
  .about__card {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .mission {
    margin-bottom: 100px;
  }
}
@media (max-width: 830px) {
  .mission .subtitle {
    margin-bottom: 30px;
  }
  .mission .title {
    font-size: 27px;
    margin-bottom: 20px;
  }
  .mission__text {
    font-size: 17px;
    line-height: 23px;
  }
}
@media (max-width: 767px) {
  .mission {
    margin-bottom: 80px;
  }
  .mission__img {
    display: none;
  }
  .mission__content {
    width: 100%;
    padding-left: 0px;
  }
}

@media (min-width: 1025px) {
  .whyus .title {
    margin-bottom: 51px;
  }
  .whyus__right-card:hover {
    background: #D4E5F5;
  }
  .whyus__right-card:hover .svg-box,
  .whyus__right-card:hover .h4 {
    opacity: 0;
    margin: 0;
    visibility: hidden;
    content-visibility: hidden;
  }
  .whyus__right-card:hover .whyus__text-hover {
    opacity: 1;
    visibility: visible;
    content-visibility: visible;
  }
  .whyus__right-card .whyus__text-hover {
    opacity: 0;
    visibility: hidden;
    content-visibility: hidden;
  }
}
@media (max-width: 1080px) {
  .whyus__right-card {
    height: inherit;
  }
}
@media (max-width: 1024px) {
  .whyus {
    margin-bottom: 100px;
  }
  .whyus__left-part {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 40px;
  }
  .whyus__left-part .h4 {
    text-align: center;
  }
  .whyus__right-part {
    width: 100%;
    padding-left: 0px;
  }
  .whyus__right-part .h4 {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .whyus {
    margin-bottom: 60px;
  }
  .whyus__left-part .h4 {
    margin-bottom: 30px;
  }
  .whyus__content {
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .whyus__img {
    width: 26px;
    height: 26px;
  }
  .whyus__right-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .whyus__right-card {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  .help {
    margin-bottom: 100px;
  }
  .help__wrapper {
    padding: 137px 20px 240px;
  }
  .help .img-container {
    bottom: -200px;
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 767px) {
  .help {
    margin-bottom: 60px;
  }
  .help__wrapper {
    padding: 100px 20px 240px;
  }
  .help .img-container {
    bottom: -170px;
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 425px) {
  .help__wrapper {
    padding: 80px 20px 170px;
  }
  .help .img-container {
    bottom: -145px;
    width: 290px;
    height: 290px;
  }
}

@media (max-width: 1024px) {
  .services {
    margin-top: -235px;
    padding: 450px 0 100px;
    margin-bottom: 100px;
  }
  .services__wrapper {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .services {
    padding: 420px 0 60px;
    margin-bottom: 60px;
  }
  .services__wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .services__card {
    padding: 40px 20px;
  }
}
@media (max-width: 580px) {
  .services__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 425px) {
  .services {
    padding: 400px 0 60px;
  }
}

@media (max-width: 1024px) {
  .prices {
    margin-bottom: 100px;
  }
  .prices__content {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .prices {
    margin-bottom: 60px;
  }
  .prices__content {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
  .prices__card-left {
    padding: 60px 20px;
  }
  .prices__card {
    padding: 60px 20px 58px;
  }
}
@media (max-width: 425px) {
  .prices__text {
    margin-bottom: 30px;
  }
  .prices ul {
    margin-bottom: 35px;
  }
  .prices__btn {
    width: 240px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .results {
    padding: 100px 0 188px;
    margin-bottom: 100px;
  }
  .results__wrapper {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }
  .results .img-container {
    bottom: -285px;
    left: 58%;
    width: 360px;
    height: 360px;
  }
}
@media (max-width: 767px) {
  .results {
    padding: 60px 0 188px;
    margin-bottom: 60px;
  }
  .results__item-left {
    padding-right: inherit;
  }
}
@media (max-width: 540px) {
  .results .img-container {
    bottom: -261px;
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 1024px) {
  .team {
    margin-bottom: 100px;
  }
  .team__wrapper {
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 40px;
  }
  .team__text {
    max-width: inherit;
  }
}
@media (max-width: 767px) {
  .team {
    margin-bottom: 60px;
  }
}
@media (max-width: 585px) {
  .team__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 40px;
  }
  .team__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team__btn {
    width: 100%;
  }
}